In [5]:
import pandas as pd
import glob

In [6]:
all_pkl_files = glob.glob("../03_CarDetails/car_details_cars24/*.pkl")
len(all_pkl_files)

70

In [7]:
dataframes = [pd.read_pickle(x) for x in all_pkl_files]

In [8]:
combined_cars24 = pd.concat(dataframes, ignore_index=True)

In [9]:
combined_cars24.shape

(6392, 18)

In [10]:
combined_cars24.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6392 entries, 0 to 6391
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   make               6392 non-null   object
 1   model              6392 non-null   object
 2   variant            6392 non-null   object
 3   year               6392 non-null   int64
 4   transmission       6392 non-null   object
 5   bodyType           6392 non-null   object
 6   fuelType           6392 non-null   object
 7   ownerNumber        6392 non-null   int64
 8   odometerReading    6392 non-null   int64
 9   cityRto            6392 non-null   object
 10  listingPrice       6392 non-null   int64
 11  fitnessUpto        6392 non-null   object
 12  insuranceType      6392 non-null   object
 13  duplicateKey       6392 non-null   object
 14  city               6392 non-null   object
 15  registrationYear   6392 non-null   object
 16  registrationMonth  6392 non-null   int64
 17  websiteUrl         6392 non-null   object
dtypes: int64(5), object(13)
memory usage: 899.0+ KB

In [22]:
combined_cars24.to_csv("cars24.csv", index=False)