In [5]:
import pandas as pd
import glob

In [6]:
all_pkl_files = glob.glob("*/*.pkl")

In [7]:
dataframes = [pd.read_pickle(x) for x in all_pkl_files]

In [8]:
combined_carwale = pd.concat(dataframes, ignore_index=True)

In [9]:
combined_carwale.shape

(4764, 18)

In [10]:
combined_carwale.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4764 entries, 0 to 4763
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   make               4764 non-null   object
 1   model              4764 non-null   object
 2   variant            4764 non-null   object
 3   year               4764 non-null   object
 4   transmission       4764 non-null   object
 5   bodyType           4764 non-null   object
 6   fuelType           4764 non-null   object
 7   ownerNumber        4764 non-null   object
 8   odometerReading    4764 non-null   object
 9   cityRto            4764 non-null   object
 10  listingPrice       4764 non-null   object
 11  fitnessUpto        4764 non-null   object
 12  insuranceType      4764 non-null   object
 13  duplicateKey       4764 non-null   object
 14  city               4764 non-null   object
 15  registrationYear   4764 non-null   object
 16  registrationMonth  4764 non-null   object
 17  websiteUrl         4764 non-null   object
dtypes: object(18)
memory usage: 670.1+ KB

In [11]:
combined_carwale.to_csv("carwale.csv", index=False)