In [1]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.service import Service as ChromeService
from webdriver_manager.chrome import ChromeDriverManager
import time
from pprint import pprint
import pandas as pd

In [2]:
url     = 'https://www.carwale.com/used/'
options = webdriver.ChromeOptions()
options.headless = True
driver = webdriver.Chrome(service = ChromeService(
    ChromeDriverManager().install()), options = options)
print(f"fetching data from {url=}")
driver.get(url)

cities     = []
container  = driver.find_element(By.ID, 'usedCarsinMajorCities')
all_cities = container.find_elements(By.CSS_SELECTOR, 'a')

for city in all_cities: 
    cities.append(city.get_attribute('href'))
cities

fetching data from url='https://www.carwale.com/used/'

['https://www.carwale.com/used-cars/delhi/',
 'https://www.carwale.com/used/cars-in-mumbai/',
 'https://www.carwale.com/used/cars-in-bangalore/',
 'https://www.carwale.com/used-cars/chennai/',
 'https://www.carwale.com/used-cars/hyderabad/',
 'https://www.carwale.com/used/cars-in-kolkata/',
 'https://www.carwale.com/used/cars-in-pune/',
 'https://www.carwale.com/used/cars-in-ahmedabad/',
 'https://www.carwale.com/used/cars-in-chandigarh/']

In [3]:
driver.quit()

In [4]:
regions_carwale = pd.DataFrame({'RegionURL':cities})
regions_carwale.to_pickle('regions_carwale.pkl')
regions_carwale

                                          RegionURL
0          https://www.carwale.com/used-cars/delhi/
1      https://www.carwale.com/used/cars-in-mumbai/
2   https://www.carwale.com/used/cars-in-bangalore/
3        https://www.carwale.com/used-cars/chennai/
4      https://www.carwale.com/used-cars/hyderabad/
5     https://www.carwale.com/used/cars-in-kolkata/
6        https://www.carwale.com/used/cars-in-pune/
7   https://www.carwale.com/used/cars-in-ahmedabad/
8  https://www.carwale.com/used/cars-in-chandigarh/